*{
    font-family: 'poppins';
}
  
body {
  background-color: #F4FAFC;
  overflow-x: hidden;
  min-height: 100vh;
}

.nav {
    background: #054761;
}

.nav-link {
    color: white;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.showcase{
    background-image: url(./img/401\ 1.png);    
    background-position: center; 
    background-color: #022431; 
    background-blend-mode: overlay;
    width: 100%;
    height: 500px;
}

.btn1 {
  background-color: #5A9CB6;
}

.btn2 {
  border: 1px solid #3084A4;
  border-radius: 7px;
  color: #3084A4;
}

.card-1 {
    justify-content: space-evenly;
    align-content: center;
    background: #ACCEDB;
    margin-left: 15%;
    position: absolute;
    width: 60rem;
    top: 430px;    
    z-index: 1;
}

.small{
  font-size: medium;
}

.crypto {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px solid #97d4ec;

  border-radius: 15px;
  padding: 5px 15px 0 15px;
  text-align: center;
  flex-wrap: 1;
  margin-bottom: 5px;
  background-color: #97d4ec;
}

.section {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 16px;
  padding-left: 16px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section .overflow-hidden {
    overflow: hidden;
}

.section-2 {
    margin-top: 270px;
    background-color: #043649;
}

.section-3 {
    margin-top: 50px;
    padding-top: 30px;
    text-align: center;
 }

 .section-3 h1 {
  font-family: 'Goldman';
  font-size: 48px;
  color: #5A9CB6;
 }

 .section-3 p {
  color: #F4FAFC;
 }

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1180px;
}

  .container-2 {
    margin-top: 10px;
    background-image: url(./img/ai-generated-bitcon.webp);
    background-position: center;    
    background-color: #022431; 
    background-blend-mode: overlay;

  }

  .row-1 {
    justify-content: center;
    margin-top: 50px;
    gap: 20px;
   }

   .card-2 {
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 230px;
   }
  
   .card-2 img {
    width: 50px;
    padding-top: 30px;
   }
  
   .card-color {
    background-color: #ACCEDB;
   }

  .card-color h5 {
    color: #054761;
  }

  .card-color1{
    box-shadow: 2px 2px 2px #888888;
  }
  
  .card-color1 h5 {
    color: #3084A4;
  
  }

  .customer{    
    display: grid;  
    justify-content: space-evenly;
    grid-template-columns: repeat(2, minmax(10%, auto));    
    margin:2px;
    row-gap: 2px;
  }

  .questions {
    margin: 50px 160px;
  }

  .questions h3 {
    font-family: 'Goldman';
    font-size: 24px;
    color: #000;
    text-align: center;
    margin-bottom: 30px;
  }

  .doubt {
    background-image: url(./img/ai-generated-bitcon.webp);
    background-position: center;
    background-color: #022431; 
    background-blend-mode: overlay;
    padding: 50px;
    margin: 30px 160px;
    width: 75%;    
  }

  .doubt .h2{
    font-family: 'Goldman';
  }

  .return {
    font-family: 'poppins';
    font-size: 16px;
    border: 1px solid #EAEAEA;
    color: #000;
    margin-bottom: 20px;
    padding: 18px 50px 0 20px;
    background: #EAEAEA;    
    display: flex;
    justify-content: space-between;
  }

  .row-3 {
    margin-top: 50px;
    background-color: #ACCEDB;
    align-items: center;
    overflow-x: hidden;
    justify-content: space-between;
   }
  
   .row-3 h3 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Goldman';
   }
  
  .myrow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  
  .myrow.items-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .myrow.justify-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .myrow.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  
  .myrow.wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .mycolumn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  
  .mycolumn.align-left {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  
  .mycolumn.align-right {
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
  
  .mycolumn.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .border-t{
    border-top: 1px solid #e9ecef;
  }

  .mr-sm {
    margin-right: 4px;
  }
  
  .mb-sm {
    margin-bottom: 4px;
  }
  
  .mt-sm {
    margin-top: 4px;
  }
  
  .ml-sm {
    margin-left: 4px;
  }
  
  .mr-md {
    margin-right: 8px;
  }
  
  .ml-md {
    margin-left: 8px;
  }
  
  .mt-md {
    margin-top: 8px;
  }
  
  .mb-md {
    margin-bottom: 8px;
  }
  
  .mr-lg {
    margin-right: 16px;
  }
  
  .mb-lg {
    margin-bottom: 16px;
  }
  
  .mt-lg {
    margin-top: 16px;
  }
  
  .ml-lg {
    margin-left: 16px;
  }
  
  .mr-xl {
    margin-right: 32px;
  }
  
  .mb-xl {
    margin-bottom: 32px;
  }
  
  .mt-xl {
    margin-top: 32px;
  }
  
  .ml-xl {
    margin-left: 32px;
  }
  
  .ml-2xl {
    margin-left: 64px;
  }
  
  .mb-2xl {
    margin-bottom: 64px;
  }
  
  .mr-2xl {
    margin-right: 64px;
  }
  
  .mt-2xl {
    margin-top: 64px;
  }
  
  .ml-3xl {
    margin-left: 128px;
  }
  
  .mb-3xl {
    margin-bottom: 128px;
  }
  
  .mr-3xl {
    margin-right: 128px;
  }
  
  .mt-3xl {
    margin-top: 128px;
  }
  
  .p-sm {
    padding: 4px;
  }
  
  .p-md {
    padding: 8px;
  }
  
  .p-lg {
    padding: 16px;
  }
  
  .p-xl {
    padding: 32px;
  }
  
  .button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 16px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 8px;
    background-color: #edf2ff;
    color: #364fc7;
    font-weight: 600;
  }
  
  .button:hover {
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
  }
  
  .button.main {
    background-color: #4263eb;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.1), 0 8px 16px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
  }
  
  .button.lg {
    padding: 16px 32px;
  }
  
  .button.sm {
    padding: 4px 8px;
  }
  
  .button.xl {
    padding: 32px 64px;
    border-radius: 16px;
    font-size: 20px;
  }
  
  .button.xl.main.white {
    background-color: #fff;
    color: #364fc7;
  }
  
  .icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 24px;
    height: 24px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    opacity: 0.6;
    color:white;
  }
  
  .icon.sm {
    width: 16px;
    height: 16px;
  }
  
  .ml-md-n {
    margin-left: -8px;
  }
  
  .ml-sm-n {
    margin-left: -4px;
  }
  
  .ml-lg-n {
    margin-left: -16px;
  }
  
  .mr-sm-n {
    margin-right: -4px;
  }
  
  .mr-md-n {
    margin-right: -8px;
  }
  
  .mr-lg-n {
    margin-right: -16px;
  }
  
  .mt-sm-n {
    margin-top: 4px;
  }
  
  .mt-md-n {
    margin-top: -8px;
  }
  
  .mt-lg-n {
    margin-top: -16px;
  }
  
  .mb-sm-n {
    margin-bottom: 4px;
  }
  
  .mb-md-n {
    margin-bottom: -8px;
  }
  
  .mb-lg-n {
    margin-bottom: 16px;
  }
  
  .u {
    border-bottom: 2px solid #bac8ff;
    line-height: 100%;
  }
  
  .u:hover {
    border-bottom-color: #748ffc;
  }

.text-giga {
  font-size: 60px;
}


.max-w-md {
  max-width: 620px;
}

.text-center {
  text-align: center;
}

.max-w-lg {
  max-width: 740px;
}

.text-lg {
  font-size: 20px;
  line-height: 140%;
}

.text-green{
  color:#3084A4 !important;
}

.text-sm {
    font-size: 14px;
}

.crypto-para p {
    color: #054761;
    font-size: 20px;
}

.palito {
    padding-left: 15px;
 }

.feature-card {
    width: 320px;
}

  .w-inline-block {
    max-width: 100%;
    display: inline-block;
  }

  .myfooter {
    background-color: #022431;
    padding: 50px;
  }

  .myfooter h2 {
    font-family: 'Goldman';
    font-size: larger;
    color: #ACCEDB;
    
  }

  .myfooter p {
    font-family: 'poppins';
    font-size: medium;
    color: #ACCEDB;
  }

  .margins{
    margin-left: 10%;
  }

  .margins-right{
    margin-right: 5%;
  }

  .margins-2{
    margin-left: 10%;
  }

  .margins-3{
    margin-left: 2%;
  }

@media screen and (max-width: 991px) {
    .myrow.v-t {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      
    }
    .mycolumn.align-left.p-2xl {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .mycolumn.align-center .p-2xl {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }

    .card-1{
        width: 300px !important;
        margin-left: 8%;
        margin-top: 50px;
    }

    .showcase-top{
        margin-top: 50px;
    }

    .row-1{
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0.5%;
    }

    .margins{
      margin-left: 10px !important;
    }

    .margins-right{
      margin-left: 10px;
    }

    .margins-2{
      margin-left: 20px;
    }

    .margins-3{
      margin-left: 20px;
    }

    .feature-card{
      width: 80%;
    }

    .return{
      width: 80%;
      margin-left: 10%;
    }

    .questions {
      margin: 50px 0;
    }

    .nav-link {
      color: black;
  }
  }
  
  @media screen and (max-width: 767px) {
    .myrow.mt-xl.v-l {
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
      -ms-flex-align: start;
      align-items: flex-start;
    }
    .myrow.v-l {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .mycolumn.align-left {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
    .max-w-lg.mb-xl.footer-header {
      margin-top: 32px;
      margin-bottom: 16px;
    }
    .intercom.ml-lg.mr-lg {
      max-height: 23px;
    }
    .buffer.ml-lg.mr-lg {
      max-height: 15px;
    }
    .slack.ml-lg.mr-lg {
      max-height: 15px;
    }
    .product-hunt.ml-lg.mr-lg {
      max-height: 19px;
    }
    .airbnb.ml-lg.mr-lg {
      max-height: 21px;
      margin-right: 8px;
      margin-left: 8px;
    }
    .logo-container {
      width: 33.3336%;
      padding-right: 29px;
      padding-left: 29px;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }
  
  @media screen and (max-width: 479px) {
    .container.mt-3xl.mb-3xl {
      margin-top: 64px;
    }
    .myrow.v-m {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    .mycolumn.align-left.p-2xl {
      padding: 0px;
    }
    .button.xl.main.mt-lg {
      padding: 16px 32px;
      text-align: center;
    }
    .section.pb-2xl-m {
      padding-bottom: 64px;
    }
    .max-w-lg.text-giga.text-center {
      font-size: 38px;
    }
    .text-lg {
      font-size: 16px;
    }
    .text-lg.text-center.max-w-lg {
      font-size: 16px;
    }
    .text-lg.text-center.max-w-md {
      font-size: 16px;
    }
    .product-shot {
      margin-top: -120px;
    }
    .logo-container {
      padding-right: 13px;
      padding-left: 13px;
    }
    .logo-container.ph {
      padding-right: 10px;
      padding-left: 10px;
    }
    .text-giga.text-center {
      font-size: 38px;
    }
  }